@import "../../../setting";
.seller-product {
  font-family: $font_primary;
  background-color: #fff;
  padding: 10px 0 45px 0;
  .container {
    .title-product {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 48px 0;
      .title-name {
        font-size: 30px;
        font-weight: 700;
        color: $color_text;
        position: relative;
        &::after {
          content: "";
          height: 3px;
          width: 20% !important;
          background-color: #6fce7a;
          display: block;
          border-radius: 100rem;
          transition: all linear 0.3s;
          position: absolute;

        }
      }
    }
  }
}
.btn-category {
  display: flex;
  gap: 25px;
  cursor: pointer;
  align-items: center;
  justify-content: end;
}
.btn-c {
  box-shadow: 0 2px 2px rgb(0, 154, 13);
  font-weight: 500 !important;
  transition: all 0.5s ease;
  background-color: transparent;
  &:hover {
    background-color: #8df5a7 !important;
    &::before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: all linear 0.5s;
    }
  }
}
.btn-choose {
  border: none;
  cursor: none;
}

.btn-all{
    padding: 15px 35px ;
 
    border: 1px solid#4D6A4E;
    background-color: #4D6A4E;
    color: #fff;
}
.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #4D6A4E!important;

    --color-shadow: #00000080;
  }
  
  .btn-content {
    border-radius: 100rem !important;
    padding: 10px 30px !important;
    text-decoration: none;
    font-size: 20px !important;
    color: var(--color-text);
    background: var(--color-background) !important;
    transition: 1s;
    border-radius: 5px;
    font-weight: 700 !important;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover,
  .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    font-size: 24px;
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }


  @media (max-width: 740px){
    .title-name{
        font-size: 30px !important;
        margin-bottom: 20px;
    }
  }

  @media (max-width:'281px'){
    .card-shopping-product{
     line-height: 0 !important;
    }
    .card-new-product .card-title-product .span-best-seller{
      display: none;
    }
  }