.blog-detail {
    margin-top: 76px;

    .logo-baner {
        width: 100%;
        height: 400px !important;
        z-index: -1 !important;
        object-fit: cover;
    }

    .item-name {
        font-size: larger;

        font-weight: bold;
    }

    .item-time {
        font-weight: 500;
        align-self: stretch;
        font-size: small;
        color: #6941C6;
        text-align: left;
    }

    .content {
        line-height: 40px;
    }

    .your-review-div {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px 60px;
        border: 1px solid #CCC;
        width: 100%;

        // @media screen and (min-width: 768px) and (max-width: 1024px) {
        //     width: 88%;

        // }

        @media screen and (min-width: 400px) and (max-width: 767px) {
            width: 93%;

        }

        @media screen and (max-width: 399px) {
            width: 89%;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px 10px !important;
        }



        .p-rating .p-rating-item .p-rating-icon.p-icon {
            width: 1.400rem;
            height: 1.6rem;

            @media screen and (max-width: 399px) {
                width: 1rem;
                height: 1.2rem;
            }
        }

        .your-review-label {
            color: #666;
            font-family: Inter;
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media screen and (max-width: 399px) {
                font-size: 16px;
                // white-space: nowrap;
            }
        }

        .your-comment-label {
            color: #666;
            font-size: 21px;
            font-weight: 500;

            @media screen and (max-width: 399px) {
                font-size: 16px;

            }
        }

        .textarea-comment {
            width: 100%;
            border-radius: 13px;

            @media screen and (max-width: 399px) {
                height: 30px !important;
                padding-left: 13px !important;

            }
        }

        .your-name-lable {
            color: #666;
            font-size: 21px;
            font-weight: 500;

            @media screen and (max-width: 399px) {
                font-size: 16px;
            }
        }

        .input-comment {
            width: 100%;
            border-radius: 13px;

            @media screen and (max-width: 399px) {
                height: 30px;
            }
        }

        .rule-comment {
            font-size: 20px;
            margin-left: 10px;

            @media screen and (max-width: 399px) {
                font-size: 16px;
            }
        }
    }
}