body::-webkit-scrollbar-track {
    background-color: rgb(231, 231, 231);
    

}
body::-webkit-scrollbar {
  width: 10px;
  background-color: aliceblue;
}
body::-webkit-scrollbar-thumb {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 100rem;
  
  }
  