.btn-srcoll-on-top{
    position: fixed;
    bottom: 30px;
    right: 0;
    color:#96e99e ;
    z-index: 999;
    font-size: 4rem;
    cursor: pointer;
    behavior: 'smooth';
    padding: 0;
}
.btn-srcoll-on-top:hover{
    color: #52C452;
}
@media (max-width: 740px) {
    .btn-srcoll-on-top{
        position: fixed;
        bottom: 150px;
        right: 0.5%;
        color:#52C452;
    }
}